body {
    background: #fff;
    padding: 0;
    margin: 0;

    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

#content {
    font-family: Helvetica, sans-serif;
    font-fize: '16px';
    line-height: 20px;
}


h1 {
    text-align: center;
}

header {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

nav {
    text-align: right;
    vertical-aligh: bottom;
    margin: 0;
    padding: 0;

}
nav ul {
    padding: 0;
    margin: 0;

    
}
nav ul li {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    display: inline;
}
nav ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #2b2b2b;
    text-decoration: none;

}
li.current a {

    border-bottom: 1px solid #2b2b2b;
}
nav a:hover {
    border-bottom: 3px solid #2b2b2b;
}

div#name {
    color: #2b2b2b;

    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}
#me {
    width: 215px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#frame-1, #frame-2, #frame-3, #frame-4 {
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 2px 5px 0 #B3B3B3;

    float: left;
    background-image: url(img/me.png);
    background-repeat: no-repeat;
    background-size: 300px 250px;
    height: 200px;
    width: 50px;

}
#frame-2, #frame-3, #frame-4 {
    margin-left: 5px;
}

#frame-1 {
    background-position: -80px -35px;
    margin-top: 35px;
}

#frame-2 {
    background-position: -130px -30px;
    margin-top: 30px;
}
#frame-3 {
    background-position: -180px -35px;
    margin-top: 35px;
}
#frame-4 {
    background-position: -230px -30px;

    margin-top: 30px;
}

#name {
    float: left;
}

#social {
    margin-top: 25px;
    text-align: center;

}
#social ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#social li {

    padding: 0;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
}
#social a {

    display: inline-block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 2px 5px 0 #B3B3B3;
    background-color: #2b2b2b;
}
#social a.irc {background-image: url(img/social/irc-48.png);}
#social a.googleplus {background-image: url(img/social/googleplus-48.png);}
#social a.reddit {background-image: url(img/social/reddit-48.png);}
#social a.email {background-image: url(img/social/email-48.png);}
#social a.bitbucket {background-image: url(img/social/bitbucket-48.png);}
#social a.twitter {background-image: url(img/social/twitter-48.png);}
#social a.facebook {background-image: url(img/social/facebook-48.png);}
